.reveal .layer {
    border: 1px solid #aaa;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align: right;
}

.reveal .layer-html {
    background: white;
}

.reveal .layer-body {
    background: #F1F1F1;
}

.reveal .layer-p {
    background: #FFFFD9;
}

.reveal .layer-div {
    background: #FFFFD9;
}

.reveal .layer-img {
    background: #faa;
    margin: auto;
    width: 200px;
    height: 200px;
    display: block;
}

.reveal .layer-paint {
    background: white;
}

.reveal .layer-paint {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align: right;
    color: transparent;
}

.reveal .layer-paint-p {
    background: #f88;
    border-radius: 10px;
    text-align: center;
}

.reveal .layer-paint-p {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

/************************ bit map ********************************/
.bitmap {
    -webkit-animation: transfer 1s linear infinite;
}

@-webkit-keyframes transfer
{
from {
    -webkit-transform:translate(-100px, -50px) rotate(1deg);
}
to {
    -webkit-transform:translate(100px, -50px) rotate(360deg);
}
}

/************************ bit map ********************************/
.reveal .visible.texture-demo {
    margin-top: 50px;
    width: 180px;
    height: 180px;
    background: #f55;
    margin: auto;
    -webkit-animation: texturemove 3s linear infinite;
}

@-webkit-keyframes texturemove
{
0% {
    opacity: 0.6;
}
25% {
    -webkit-transform:translate(180px);
}
50% {
    -webkit-transform:translate(180px) scale(0.5);
}
75% {
    -webkit-transform:translate(180px) scale(0.5) rotate(45deg);
}
}

/************************ bit map ********************************/
.boundary {
    color: #f55;
}

/************************ alert ********************************/
.reveal .alert {
    width: 40px;
    vertical-align: middle;
    position: relative;
    left: 10px;
    top: -5px;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 4.5px;
}
.node {
  fill: #f44;
}
.node-name {
  fill: #f44;
  font-weight: bold;
  font-size: 24px;
}

/************************ layer ********************************/
.reveal .slides section .page-layer-wrap {
    display: inline-block;
    width: 500px;
    height: 500px;
    position: relative;
}

.reveal .slides section .page-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: white;
    border: 1px solid #999;
    box-shadow: 0 0 12px 1px #ccc;
    transition: transform 1s linear 2s;
}

.reveal .visible .page-layer {
    transform: rotateY(30deg);
}


.reveal .page-inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    transition: all 1s linear 2s;
}

.reveal .visible .page-inner {
    border: 1px solid #999;
    box-shadow: 0 0 12px 1px #ccc;
    transform: translateZ(50px) rotateY(30deg);
    //-webkit-animation: texturemove 3s linear 4s infinite;
}

/************************ paper ********************************/
.reveal .paper {
    display: inline-block;
    width: 450px;
    height: 500px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 12px 1px #ccc;
    overflow: hidden;
}

.reveal .paper.visible .cpu-paint
{
    -webkit-animation: cpupaint 160s steps(80) infinite;
}
.reveal .paper.visible .gpu-paint
{
    -webkit-animation: cpupaint 80s steps(40) infinite;
}
.reveal .paper.visible .pencil {
    -webkit-animation: pencil 4s linear infinite;
}
.reveal .paper.visible .mask {
    -webkit-animation: mask 4s linear infinite;
}

.reveal .paper.visible .stamp {
    -webkit-animation: mask 1s steps(2) infinite;
}

.reveal .cpu-paint,
.reveal .gpu-paint
{
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 150px;
    background: url(../../img/high_performance_animation/heart.png) no-repeat center center;
    background-size: cover;
}

.reveal .pencil {
    width: 100%;
    height: 100%;
    background: url(../../img/high_performance_animation/pencil.png) no-repeat center center;
    background-size: auto 100%;
    transform: rotate(-45deg) translateY(-21%);
    top: 5%;
}

.reveal .mask {
    //display: none;
    width: 150%;
    height: 150%;
    background: url(../../img/high_performance_animation/mask.png) no-repeat center center;
    background-size: cover;
    transform: rotate(-45deg) translateY(-21%) translateX(25%);
    position: absolute;
    top: 0;
    left: 0;
}

.reveal .gpu-paint {
}

.reveal .stamp {
    width: 200%;
    height: 400%;
    background: url(../../img/high_performance_animation/stamp.png) no-repeat center center;
    background-size: 100% auto;
    transform: translateY(-28%) translateX(-8%);
}

@-webkit-keyframes stamp {
    0 {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    0 {
        opacity: 0;
    }
}

@-webkit-keyframes cpupaint {
    0 {
    }
    100% {
        transform: scale(4);
    }
}

@-webkit-keyframes mask {
    0 {
        transform: rotate(-45deg) translateY(-21%);
    }
    100% {
        transform: rotate(-45deg) translateY(55%);
    }
}
@-webkit-keyframes pencil {
    0% {
        transform: rotate(-45deg) translateY(-21%) translateX(45%) translateY(0);
    }
    10% {
        transform: rotate(-45deg) translateY(-21%) translateX(-45%) translateY(10%);
    }
    20% {
        transform: rotate(-45deg) translateY(-21%) translateX(45%) translateY(20%);
    }
    30% {
        transform: rotate(-45deg) translateY(-21%) translateX(-45%) translateY(30%);
    }
    40% {
        transform: rotate(-45deg) translateY(-21%) translateX(45%) translateY(40%);
    }
    45% {
        transform: rotate(-45deg) translateY(-21%) translateX(-45%) translateY(45%);
    }
    60% {
        transform: rotate(-45deg) translateY(-21%) translateX(45%) translateY(60%);
    }
    70% {
        transform: rotate(-45deg) translateY(-21%) translateX(-45%) translateY(70%);
    }
    80% {
        transform: rotate(-45deg) translateY(-21%) translateX(45%) translateY(80%);
    }
    90% {
        transform: rotate(-45deg) translateY(-21%) translateX(-45%) translateY(90%);
    }
    100% {
        transform: rotate(-45deg) translateY(-21%) translateX(45%) translateY(100%);
    }
}
/************************ cross line ********************************/
.reveal .cross-line {
    height: 3px;
    background: #333;
    margin: auto;
    position: relative;
    top: -65px;
    width: 400px;
}
